
@{
    ViewBag.Title = "Xóa khách hàng";
}

<div class="box box-body">
    <div class="box-body">
        <form>
            <div class="form-group">
                <label>Tên khách hàng:</label>
                <p class="form-control-static form-control">Nguyễn Ngọc</p>
            </div>

            <div class="form-group">
                <label>Tên giao dịch:</label>
                <p class="form-control-static form-control">nguyenngoc</p>
            </div>

            <div class="form-group">
                <label>Điện thoại:</label>
                <p class="form-control-static form-control">0942081225</p>
            </div>

            <div class="form-group">
                <label>Email:</label>
                <p class="form-control-static form-control">nguyenngoc@gmail.com</p>
            </div>
            <div class="form-group">
                <label>Địa chỉ:</label>
                <p class="form-control-static form-control">77 Nguyễn Huệ</p>
            </div>

            <div class="form-group">
                <label>Tỉnh/Thành:</label>
                <p class="form-control-static form-control">Thừa Thiên Huế</p>
            </div>

            <div class="form-group">
                <label>Trạng thái: </label>
                <p class="form-control-static form-control">Tài khoản đang hoạt động</p>
            </div>


            <div class="form-group text-right">
                <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i>Lưu dữ liệu</button>
                <a href="~/Customer" class="btn btn-default">
                    Quay lại
                </a>
            </div>
        </form>
    </div>
</div>